.bg {
    height: 100%;
    display: block;
}
.bg::after {
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-image: url('http://www.utags.edu.mx/images/headers/65avion.jpg');
    background-repeat: repeat-y;
}
.icon-lg{
    font-size: 2.5rem;
}
